:host {
    display: flex;
    flex: 1;
    background-color: rgb(20, 20, 20);
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}