<div class="sites">
    <div class="site" routerLink="/tabs">
        <div class="site--header">
            https://www.google.com
        </div>
        <div class="site--content">
            <div class="site--tabsCount">
                <span>30</span> tabs
            </div>
        </div>
    </div>
    <div class="site" routerLink="/tabs">
        <div class="site--header">
            https://www.google.com
        </div>
    </div>
    <div class="site" routerLink="/tabs">
        <div class="site--header">
            https://www.google.com
        </div>
    </div>
    <div class="site" routerLink="/tabs">
        <div class="site--header">
            https://www.google.com
        </div>
    </div>
</div>

<div class="filter"></div>